*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-dark{
    background-color: rgb(29, 29, 29);
}

ul{
    list-style: none;
}
.display-inline-block{
    display: inline-block;
    
}

a{
    text-decoration: none;
}

nav{
    padding: 1% 7%;
}


nav ul {
    margin-left: 65%;
    width: 30%;
}
nav ul li {
    margin-left: 2%;
}

.text-white{
    color: white;
   font-weight: bold;
    
}
.AX
{
    font-weight: 400;
    font-weight: bold;
    
}
.text-color
{ 
    font-weight:400;
    color: orange;
}
.bg-img{
    background-image: url(images/pexels-pixabay-302769.jpg);
    background-color: bisque;

    background-position: left bottom;
    background-size: 100% 100%;
    color: white;
    background-attachment: fixed;
}
.overlay{
        background-color: #13192a9a;
    height: 100%;
}
.container{
     width: 100%;
    margin: auto;
}
 .left-side
{
    width: 50%;
    display: inline-block;
}
.right-side
{
    width: 50%;
    display: inline-block;
} 
.h1-AX
{
     color: white;
     font-size: 50px;
     font-weight: bold;
     margin-top: 100px;
     margin-left: 80px;
}
.p-modern
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: x-large;
    margin-left: 80px;
    margin-top: 40px;
}
.hr-width
{
    width: 80px; 
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.p-lorem
{
    margin-left: 80px;
    margin-top: 40px;
}
.btn
{
    margin-left: 80px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 7px 15px;
}
.form
{
    display: inline-block;
    padding: 30px;
    margin-left: 212px;
    margin-bottom: 170px;
    width: 35%;
    background-color: white;
    border: 0;
    border-radius: 5px;
    box-shadow:1px 1px 1px  rgb(200, 195, 195);
}
.span-color
{
    color: orange;
    font-weight: bold;
}
.form-info
{
    display: block;
    width: 100%;
    padding: 13px 3px;
    margin-bottom: 20px;
    border: none;
    margin-top: 8px;
    border-bottom: 2px solid #d4cece;    
}
.label
{
    display: block;
    padding-left: 25px;
    color: rgb(40, 39, 39);
    font-size: large;
    font-weight: bold;
   background-color: rgb(244, 243, 243);
} 
 .custom-border {
    border: 0;
    border-radius: 5px;
}
.form-btn
{
    padding: 10px 60px;
    background-color: orange;
    color: white;
    margin-top: 8px;
    margin-left: 33px;
}
